@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fefefe;
  background-image: url('/bg.png');
  background-repeat: repeat;
  background-size: 40px 40px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    background-image: url('/bg-dark.png');
  }
}

@media print {
  body {
    background-color: #ffffff;
    background-image: none;
  }
}
